/**/*.rnc
/**/#*
/**/.#*
/**/*~
/**/*.html
/**/tmp
/**/schemas.xml

output/images/diff-first.gif
output/images/diff-last.gif
output/images/diff-next.gif
output/images/diff-previous.gif
output/images/diffmin.gif
output/images/diffplus.gif
output/images/diffunderline.gif
output/js
output/css
ExecuteDaisy
User.make
output/meta-info.txt
.vscode/settings.json
.vscode/
